compile = "cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=YES && ln -sf build/compile_commands.json . && cmake --build build"
run = "cd build && ctest --output-on-failure"
hidden = [".ccls-cache", "build", ".git"]

[nix]
channel = "stable-23_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[languages]

[languages.cpp]
pattern = "**/*.{cpp,h}"

[languages.cpp.languageServer]
start = "ccls"
